{%  extends 'chess/base.html' %}

{% block content %}
    <div class="block-container-list">
        <div class="block-text">
            <h2>Home</h2>
                <p class="indent">On the home page, you can see the current ratings as stored in the database or pairings for any week
                    in the database.</p>
                
                <p class="indent">If you see an entry in the ratings sheet that is wrong, there is a pencil icon to the left. If you click
                    this it will pop up an edit for that entry. Hit save and refresh the page and you should see the changes reflected on
                    the home screen's view of pairing and ratings.</p>
                <p class="indent">You can also use the search bar to find a keyword anywhere on the page such as a last name, class, or board
                    number.</p>
        </div>
        
        <div class="block-text">
            <h2>Manual Change</h2>
                <p class="indent">This is where you can add a player and/or class manually. Select what you want to add and a pop up will
                    appear with the fields. Hit save and refresh the page and you should see the player. If you added a class, you can now
                    add a player to that class by returning to the home page and hitting the pencil edit icon.</p>
                <p class="indent">If you are trying to add a class but cannot find the teacher, you need to create the player first
                    then you can assign a class to them!</p>
                <p class="indent">If you are trying to add a player but cannot find the class, you need to create the class first
                    then you can assign a player to that class!</p>
            
                <p class="indent">You can also click the "Set Up Database for Next Year" which will ask you if you are sure. This will:
                    add 1 to all active students' grade (removing those with grades higher than 5) and add 50 to everyone's ratings. Only
                    do this when you are <strong>COMPLETELY</strong> finished with the current year's ratings and pairings.</p>
                <p class="indent">As always, if you messed up something or find a bug, reach out to me for support. Contact info at the
                    bottom of this page!</p>
        </div>
        
        <div class="block-text">
            <h2>Input Results</h2>
                <p class="indent">Here is where you would go to add the results of a date's match. You first need to select the date of
                    the match you are trying to change, then you should see a current pop up of all the games that were played on that
                    date.
                <p class="indent">You can change the players on that board and/or the result of the game. If you need to have
                    the board blank (as in no player on White and/or Black, scroll to the bottom to find 'N/A').</p>
                <p class="indent">After you have added all the results <strong>(Please double check this!)</strong> hit the submit button.</p>
                <p class="indent">After the submit button has been clicked, you should see a pop-up saying which should tell you which
                    boards have been changed in the database and who's ratings have changed. After you see the ratings have been updated,
                    you can now head over to "Pair" and pair your next set of games.</p>
                <p class="indent"><strong>If you put in the result wrong and change it in this form, the ratings will be off. Do NOT do this,
                    please contact me!</strong></p>
                <p class="indent"><strong>If you pair a student vs volunteer the student's rating will NOT change!</strong></p>
                <p class="indent">Under the "Download Ratings" section. This had two options:</p>
                    <ul>
                        <li>Download a previous rating sheet already on the server</li>
                        <li>Create a new ratings sheet with information in the server, this will also save the file to the server for
                            future reference</li>
                    </ul>
        </div>
        
        <div class="block-text">
            <h2>Pair</h2>
                <p class="indent">You first need to select the date of the match to be paired, then you should see a pop up appear. If you have a
                    specific match (such as a teacher vs student) in mind, you need to add those games. You must put <strong>BOTH</strong> players
                    on the board <strong>BEFORE</strong> you hit "Pair!". After a success message, you can download the pairings from that date.</p>
                <p class="indent">If you have already submitted the pairing sheet and realized you have made a mistake, you need to use the input
                    results' Update Game Results to fix this. Do <strong>NOT</strong> use the Make Pairing Sheet again!</p>
                <p class="indent">If you are downloading a pairing sheet, it will <strong>ALWAYS</strong> download what is in the database at
                    the moment you hit download. This does <strong>NOT</strong> save older versions of the pairing sheet for that date!</p>
        </div>
    </div>
        
        <h2 class="center">Didn't Find the Answer You Were Looking For?</h2>
        <p class="center">Contact me at totally_my_email@email.com or text me at Not-To-Day!</p>
{% endblock %}