{% extends 'chess/base.html' %}
{% load static %}

{% block content %}
    <div class="block-container-list">
        <div class="block-text center">
            <h1>Make Pairing Sheet</h1>
            <p class="indent">To make a pairing sheet, first select the date that the games will be played. If you want certain players to
                play this time you <strong>MUST</strong> manually add these games with <strong>BOTH</strong> players to a particular board
                and <strong>THEN</strong> hit the "Pair!" button. Failing to do this will <strong>NOT</strong> create the game before the
                pairing algorithm runs.</p>
            <p class="indent">If you have already submitted the pairing sheet and realized you have made a mistake, you need to use the 'Input
                Results' page's Update Game Results to fix this. Do <strong>NOT</strong> use the Make Pairing Sheet again!</p>
            <p class="indent">After the success message, you can now download the pairings sheet!</p>

            <div id="date-picker">
                <label for="selectedDate">Select Date:</label>
                <input type="date" id="selectedDate" name="selectedDate">
                <button type="submit" id="dateSubmitBtn">Create Games</button>
            </div>

            <div id="gameModal" class="modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <h2>Create New Games for <span id="selectedDateDisplay"></span></h2>
                    <p class="new-line">Players can only play one game per meet!</p>

                    <form id="newGamesForm" method="POST" action="#">
                        {% csrf_token %}
                        <table>
                            <thead>
                            <tr>
                                <th>Board</th>
                                <th>White Player</th>
                                <th>Black Player</th>
                            </tr>
                            </thead>
                            <tbody id="newGamesTableBody">
                            </tbody>
                        </table>
                        
                        <label for="separateClasses">Pair Sam's class separate?:</label>
                        <input type="checkbox" id="separateClasses" name="separate_classes" value="true"><br>
                        <button type="submit">Pair!</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="block-text center">
            <h1 class="center">Download Pairing Sheet</h1>
            <p class="indent">When downloading a pairings sheet, it will <strong>ALWAYS</strong> download what is in the database at
                the moment you hit download. This does <strong>NOT</strong> save older versions of the pairing sheet for that date!</p>
            
            <form method="POST" action="{% url 'download_pairings' %}">
                {% csrf_token %}
                <label for="{{ form.date.id_for_label }}">Date of Match:</label>
                {{ form.date }}
                <br><br>
                <button type="submit">Download Pairing Sheet</button>
            </form>
        </div>
    </div>

    <script>
        const getPlayersUrl = "{% url 'get_players' %}";
        const newPairingsUrl = "{% url 'new_pairings' %}";
    </script>
    <script src="{% static 'utils.js' %}"></script>
    <script src="{% static 'pair.js' %}"></script>
{% endblock %}
