{% extends 'chess/base.html' %}
{% load static %}

{% block content %}
    <div class="block-container-list">
        <div class="block-text center">
            <h1>Make Pairing Sheet</h1>

            <div id="date-picker">
                <label for="selectedDate">Select Date:</label>
                <input type="date" id="selectedDate" name="selectedDate">
                <button type="submit" id="dateSubmitBtn">Create Games</button>
            </div>

            <div id="gameModal" class="modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <h2>Create New Games for <span id="selectedDateDisplay"></span></h2>

                    <form id="newGamesForm" method="POST" action="#">
                        {% csrf_token %}
                        <table>
                            <thead>
                            <tr>
                                <th>Board</th>
                                <th>White Player</th>
                                <th>Black Player</th>
                            </tr>
                            </thead>
                            <tbody id="newGamesTableBody">
                            </tbody>
                        </table>
                        
                        <label for="separateClasses">Pair Sam's class separate?:</label>
                        <input type="checkbox" id="separateClasses" name="separate_classes" value="true"><br>
                        <button type="submit">Pair!</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="block-text center">
            <h1 class="center">Download Pairing Sheet</h1>
            <form method="POST" action="{% url 'download_pairings' %}">
                {% csrf_token %}
                <label for="{{ form.date.id_for_label }}">Date of Match:</label>
                {{ form.date }}
                <br><br>
                <button type="submit">Download Pairing Sheet</button>
            </form>
        </div>
    </div>

    <script>
        const getPlayersUrl = "{% url 'get_players' %}";
        const newPairingsUrl = "{% url 'new_pairings' %}";
    </script>
    <script src="{% static 'utils.js' %}"></script>
    <script src="{% static 'pair.js' %}"></script>
{% endblock %}
